.root {
  font-family: monospace;
  font-size: 1rem;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal);

  .dummy {
    box-sizing: border-box;
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    line-height: inherit;
  }

  .inner-container {
    width: calc(100% + 1px);

    .more {
      margin: 0 0.25rem;
      padding: 2px 4px;
      background: #edd;
      border: none;
      color: #888;
      font-size: 0.6rem;
      vertical-align: bottom;

      &:hover {
        background-color: var(--pico-primary-border);
      }
    }
  }

  .boolean {
  }

  .number {
  }

  .string {
  }

  .delimiter {
    padding-right: 0.25rem;
  }
}
