.root {
  font-family: monospace;
  font-size: 1rem;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal);

  .dummy {
    box-sizing: border-box;
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    line-height: inherit;
  }

  /*
    Color Scheme
    Ligthmode: from Night Owl Lightmode 
    Darkmode: from VSCode default
  */
  background-color: light-dark(#fbfbfb, #1e1e1e);
  color: light-dark(#403f53, #d4d4d4);

  .key {
    color: light-dark(#994cc3, #9cdcfe);
  }

  .boolean,
  .null {
    color: light-dark(#994cc3, #569cd6);
  }

  .number {
    color: light-dark(#aa0982, #b5cea8);
  }

  .string {
    color: light-dark(#c96765, #ce9178);
  }

  .parenthesis {
    color: light-dark(#0c969b, #569cd6);
  }

  .delimiter {
    color: light-dark(#403f53, #d4d4d4);
    padding-right: 0.25rem;
  }

  em {
    font-style: normal;
    background-color: light-dark(#994cc3, #aaa);
    color: light-dark(#dff, #838);
  }

  .inner-container {
    width: calc(100% + 1px);
    background: inherit;

    .more {
      margin: 0 0.25rem;
      padding: 2px 4px;
      background: #edd;
      border: none;
      color: #888;
      font-size: 0.6rem;
      vertical-align: bottom;

      &:hover {
        background-color: var(--pico-primary-border);
      }
    }

    code {
      background: inherit;
    }
  }
}
